<a href="https://colab.research.google.com/github/MIngjianZhang/editor/blob/master/CIS_545_Recitation_1_SP22_Student.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CIS 545 Recitation 1: Intro to Python and Pandas
> 1/14 @ 1:45 PM https://upenn.zoom.us/j/99266553438, Ang Li and Carol Li

**Recitation Overview:**
1. Colab Tips
2. Python basics: Syntax, For Loops, List Comprehension
3. Pandas basics: Series & DataFrames, Apply & Merge Operations, Groupby

# üí° Colab Tips

### Integration with Drive

Colaboratory is integrated with Google Drive. It allows you to share, comment, and collaborate on the same document with multiple people:

* The **SHARE** button (top-right of the toolbar) allows you to share the notebook and control permissions set on it just like Google docs, slides, sheets, etc. This will be useful for the term/final project.

* **File ‚Üí Make a Copy** creates a copy of the notebook in Drive. Do it for homeworks always! Make sure the file name becomes `Copy_of_{...}.ipynb`
> This is very important for starting homeworks!

* **File ‚Üí Save** saves the File to Drive. **File->Save and checkpoint** pins the version so it doesn't get deleted from the revision history. 

* **File ‚Üí Revision history** shows the notebook's revision history.

### Working with Python in Colab
Colaboratory is built on top of [Jupyter Notebook](https://jupyter.org/). Below are some examples of convenience functions provided.

Long running python processes can be interrupted:
`Runtime ‚Üí Restart runtime ‚Üí You should see a green  tick at the top right`
* Generally useful for when the dataset stops loading (eg. local copy already exists) or when your code runs forever.
* Sometimes Jupyter/Colab memory gets really weird...and just needs to be reset
* Make sure to reinitialize PennGrader after you do this (and run any cells that create intermediate df's because you won't have them anymore!)

In [ ]:
import time
print("Sleeping")
time.sleep(30) # sleep for a while; interrupt me!
print("Done Sleeping")

Sleeping
Done Sleeping

### PennGrader
```
%%capture
!pip3 install penngrader
from penngrader.grader import *
```
```
# PLEASE ENSURE YOUR PENN-ID IS ENTERED CORRECTLY. IF NOT, THE AUTOGRADER WON'T KNOW WHO` 
# TO ASSIGN POINTS TO YOU IN OUR BACKEND 
STUDENT_ID = 19104444 # YOUR PENN-ID GOES HERE AS AN INTEGER #
```
```
grader = PennGrader(homework_id = 'CIS545_Fall_2020_HW1', student_id = STUDENT_ID)
```

### Tab-Completion and Exploring Code

Colab provides tab completion to explore attributes of Python objects, as well as to quickly view documentation strings. As an example, first run the following cell to import the  [`numpy`](http://www.numpy.org) module.

In [ ]:
import numpy as np

If you now insert your cursor after ``np.random.`` and press **Tab**, you will see the list of available completions within the ``np.random`` submodule.

In [ ]:
np.random.

SyntaxError: ignored

If you type an open parenthesis followed by the **Tab** key after any function or class in the module, you will see a pop-up of its documentation string:

In [ ]:
np.random.rand()

To open the documentation in a persistent pane at the bottom of your screen, add a **?** after the object or method name and execute the cell using **Shift+Enter**:

In [ ]:
np.random?

### Exceptions

Exceptions are formatted nicely in Colab outputs:

In [ ]:
x = 1
y = 4
z = y/(1-x)

### Rich, Interactive Outputs
Until now all of the generated outputs have been text, but they can be more interesting, like the chart below.

In [ ]:
import numpy as np
from matplotlib import pyplot as plt

ys = 200 + np.random.randn(100)
x = [x for x in range(len(ys))]

plt.plot(x, ys, '-')
plt.fill_between(x, ys, 195, where=(ys > 195), facecolor='g', alpha=0.6)

plt.title("Fills and Alpha Example")
plt.show()

### Submission
`Files ‚Üí Download .ipynb ‚Üí Submit through Gradescope` \
**!! DO NOT run autograder cells after the deadline !!** -- your work will be marked as late if you do this!

# üêç Python
Python is a programming language that is very popular among the data science, machine learning community.
It is a higher-level programming language than Java, and has an extensive collection of libraries that can be easily installed.
**We require that you use python for this class, so it is important to be familiar with it.**

### Python vs Java
- Java is compiled, but Python is not: you directly run the Python file
- Java is statically typed (the types of the variables cannot change), and you do not declare types in Python
```
# This works in python
x = 3
x = "python"
```
- Python does not use curly braces like Java. Instead, it uses whitespace (tabs/spaces) to infer the scope of methods, for loops, etc.
```
for i in range(10):
      print(i * 2)      # Indent by 4 spaces
      print(i * 4)
      for j in range(4):
          print(i * j)  # Indent 8 spaces
print('Done')       # No indent, runs after for loop
```
- Boolean values are now `True` and `False`

### String Manipulation

In [ ]:
s = "ABCdef"
s = 'ABCdef'

# Length
print(len(s))  # 6

# Standard Indexing: Notice hard brackets and 0-indexing
print(s[0])      # 'A'
print(s[1])      # 'B'
print(s[5])      # 'f'
# print(s[100])  # Error

# Range Indexing
print(s[1:4])    # 'BCd'
print(s[2:])     # 'Cdef'
print(s[:2])     # 'AB'
print(s[1:100])  # 'BCdef'

# Negative Indexing
print(s[-1])    # 'f'
print(s[-2])    # 'e'
print(s[:-1])   # 'ABCde'
print(s[:-3])   # 'ABC'
print(s[::-1])  # 'fedCBA'

# Concatenation
print(s + 'xyz')     # 'ABCdefxyz'
# print(s + 123)     # Error
print(s + str(123))  # 'ABCdef123'

# Splitting
print(s.split('C'))  # ['AB', 'def']
print("  hi  ".strip())

6
A
B
f
BCd
Cdef
AB
BCdef
f
e
ABCde
ABC
fedCBA
ABCdefxyz
ABCdef123
['AB', 'def']
hi

## If Statements

In [ ]:
# Python doesn't require parentheses
a, b = 7, 10

# equality
if a == 7:
    print('yes')
else:
    print('no')
    
# not equal
if a != 8:
    print('neq')
    
# and &&
if a > 5 and b <= 10:
    print('1')
elif a > 10:
    print('2')
else:
    print('3')

# or
if a < 10 or b > 100:
    print('yes')
    
# Strings also use '=='
s = 'abc'
if s == 'abc':
    print('here')
    
    
t = 'cabcd'
if s in t:
    print("hi")

yes
neq
1
yes
here
hi

## For Loops

In [ ]:
a = [0, 8, 3, 5, 1]

range(5)     # Dynamically generates 0, 1, 2, 3, 4
range(1, 5)  # 1, 2, 3, 4

# "Standard" for loop from Java
for i in range(len(a)):
    print(a[i])

# Iterate over each element in the list
for x in a:
    print(x)
    
# Iterating through dictionaries
d = {0: 'a', 1: 'b', 2: 'c'}
for key, value in d.items():
    print(str(key) + ' -> ' + value)
    
    
# Loop over items in an array and get the index at the same time
for index, item in enumerate(a):
  print(index, item)

0
8
3
5
1
0
8
3
5
1
0 -> a
1 -> b
2 -> c
0 0
1 8
2 3
3 5
4 1

## Lists

In [ ]:
a = [0, 4, 2, 8, 9]  # Create a list with initial items
b = []  # Create an empty list

# Length
print(len(a))  # 5

# The same indexing operations on strings work for lists
print(a[1])    # 4
print(a[2:4])  # [2, 8]
print(a[-2])   # 8

# Sort the list
print(sorted(a))                # [0, 2, 4, 8, 9] Creates a copy, does not modify the original list
print(sorted(a, reverse=True))  # [9, 8, 4, 2, 0] Also a copy

# Add items to the end of the list
a.append(10)  # Returns nothing
print(a)      # [0, 4, 2, 8, 9, 10] 
a += [1, 12]  # Returns nothing
print(a)      # [0, 4, 2, 8, 9, 10, 1, 12]

# Lists don't have to be the same type in python
a.append('machine learning')
print(a)            # [0, 4, 2, 8, 9, 10, 1, 12, 'machine learning']
# print(sorted(a))  # Causes an error

# Searching
print(8 in a)    # True
print(100 in a)  # False
print(a.index(8))

5
4
[2, 8]
8
[0, 2, 4, 8, 9]
[9, 8, 4, 2, 0]
[0, 4, 2, 8, 9, 10]
[0, 4, 2, 8, 9, 10, 1, 12]
[0, 4, 2, 8, 9, 10, 1, 12, 'machine learning']
True
False
3

## List Comprehension
A cool and extremely useful feature of Python! Good for condensing code using loops and conditionals. 

The general syntax is:

```
[ <expression> for <name> in <list> if <filter> ]
```

List comprehension also applies to dictionaries and sets, as follows.

```
{ <expression> for <key>, <value> in <dict> if <filter> }
```

In [ ]:
# Sometimes code can be simplified using list/dictionary comprehensions
def add_one(x):
  return x + 1

# The standard way to apply a function to every element and save in y
x = [0, 1, 2, 3]
y = []
for i in range(len(x)):
  y.append(add_one(x[i]))

# This is equivalent to the above
y = [add_one(x_i) for x_i in x]
# funtion to element for element in data structure

# Add conditionals
y2 = [add_one(x_i) for x_i in x if x_i > 1]
# function to element for element in data structure if element meets conditional

# Dictionary comprehensions can be used to create dictionaries easily.
# This creates a mapping from x_i -> x_i * 4
d = {x_i : x_i * 4 for x_i in x}
# element key : function to element value for element in data structure
print(d)
print(d[2])  # 8

### TODO #1

In [ ]:
# this is Carol's credit card spendings for August

daily_spendings = [[0, 30, 35, 31, 15, 60, 82], 
                   [22, 3, 40, 19, 1020, 55, 36], 
                   [578, 21, 965, 9, 680, 60, 82], 
                   [0, 75000, 5, 99, 13, 101, 8]]

# Though late, she realizes that her identity has been stolen! 
# Get a list of all the exorbitant daily spendings (defined to be > 100): i.e. [1020, 578, 965, 680, 75000, 101]

In [ ]:
##### EXERCISE #####

# Pandas üêº 

Documentation is your best friend: https://pandas.pydata.org/docs/

In [ ]:
import pandas as pd 
import numpy as np

## Series and DataFrames

* **Series:** one-dimensional array with hashable axis labels. Parameter is an iterable array-like object, such as lists, dicts, etc.
* **DataFrame:** two-dimensional, size-mutable tabular data, consisting of columns of Series. Parameter is an array-like object or DataFrame.

In [ ]:
sports = pd.Series(['football', 'basketball',' volleyball','tennis'])

population = pd.Series({'Germany': 81.3, 'Belgium': 11.3, 'France': 64.3, 
                        'United Kingdom': 64.9, 'Netherlands': 16.9})

countries = pd.DataFrame({'country': ['Belgium', 'France', 'Germany', 'Netherlands', 'United Kingdom'],
        'population': [11.3, 64.3, 81.3, 16.9, 64.9],
        'area': [30510, 671308, 357050, 41526, 244820],
        'capital': ['Brussels', 'Paris', 'Berlin', 'Amsterdam', 'London']})

In [ ]:
sports

In [ ]:
type(sports)

In [ ]:
population

In [ ]:
type(population)

In [ ]:
population.index

In [ ]:
population.values

In [ ]:
population / 100

To access dataframe variables, use the `.` operator or brackets `[ ]`, or access multiple columns with `[[ ]]`

In [ ]:
population['Netherlands']

In [ ]:
countries

In [ ]:
type(countries)

In [ ]:
type(countries.area)

In [ ]:
countries['area']

### TODO #2

In [ ]:
# What's the difference if we use the double braces, i.e.: 
# Explore and see! :)

##### EXERCISE #####

We can also access dataframes using conditional operators, such as:

In [ ]:
countries.capital == 'London'

In [ ]:
# Extract data for UK/London
countries[countries.capital == 'London']

In [ ]:
# We can also do this without the .
countries[countries['capital'] == 'London']

### TODO #3

In [ ]:
# Now use inequalities: get all countries with area > 100k!

##### EXERCISE #####

## Creating New Variables
Adding columns to the DataFrame!

In [ ]:
# basic assignment
countries['newVar'] = [1,2,3,4,5]
countries

In [ ]:
# using existing columns for assignment
# here, we are creating a COMPOSITE VARIABLE defined as:
# "2 * population + sqrt(area)" for each row in countries
countries['newVar'] = countries.population * 2  + countries.area**0.5
countries

## Apply

Apply is a very powerful method which can be used for making major data manipulation tasks. Much faster than standard for loops because of internal optimizations. 

NOTE: In some assignments, your code could never finish running if you use for loops due to the size of the datasets!

In [ ]:
%%timeit

countries = pd.DataFrame({'country': ['Belgium', 'France', 'Germany', 'Netherlands', 'United Kingdom'],
        'population': [11.3, 64.3, 81.3, 16.9, 64.9],
        'area': [30510, 671308, 357050, 41526, 244820],
        'capital': ['Brussels', 'Paris', 'Berlin', 'Amsterdam', 'London']})

for index, row in countries.iterrows():
  row['capital'].upper()

In [ ]:
 %%timeit

countries = pd.DataFrame({'country': ['Belgium', 'France', 'Germany', 'Netherlands', 'United Kingdom'],
        'population': [11.3, 64.3, 81.3, 16.9, 64.9],
        'area': [30510, 671308, 357050, 41526, 244820],
        'capital': ['Brussels', 'Paris', 'Berlin', 'Amsterdam', 'London']})

countries['capital'] = countries['capital'].apply(lambda x : x.upper())
countries

In [ ]:
def ageBucket(x):
    if x<18:
        return "A. <18"
    elif x<25:
        return "B. 18-25"
    elif x<45:
        return "C. 25-45"
    else:
        return "D. >45"

In [ ]:
df = pd.DataFrame({'Age': [1, 2, 19, 39, 50]})
df

Apply can be used on a single column (ie on a Series object).

### TODO #4

In [ ]:
# Let's call ageBucket on every element in Age, and set that as a new column!

##### EXERCISE #####

Apply can also be used on an entire dataframe.

In [ ]:
df['AgeBucket2'] = df.apply(lambda x : ageBucket(x['Age']),axis=1)
df.head()

Other derivative methods that you can look into are `map` and `applymap`.
* `map` works only on Series but has the same functionality as `apply`.
* `applymap` works only on dfs and applies to every element excluding the target column.

## Merge Operations

Merging with Pandas works pretty much the same as SQL. **There are four merge methods:**
1. Left
2. Right
3. Inner 
4. Outer

This is further demonstrated by the venn diagram below.

![join-venn-diagram](https://i.stack.imgur.com/UI25E.jpg)

**Basic Syntax:**

`pd.merge(left_dataframe, right_dataframe, left_on="some_column", right_on="some_column", how="left|right|inner|outer")`

In [ ]:
population = pd.DataFrame({'country': ['Germany', 'Belgium', 'France', 
                        'United Kingdom', 'United States'],'population': [81.3, 11.3, 64.3, 64.9, 65.9]})

countries = pd.DataFrame({'country2': ['Belgium', 'France', 'Germany', 'Netherlands', 'United Kingdom'],
        'population': [11.3, 64.3, 81.3, 16.9, 64.9],
        'area': [30510, 671308, 357050, 1526, 244820],
        'capital': ['Brussels', 'Paris', 'Berlin', 'Amsterdam', 'London']})

In [ ]:
population

In [ ]:
countries

In a Left Merge we are mostly concerned with data on the LEFT side but we would like to add data from 
the RIGHT side if it has some of the same countries in this case.

In [ ]:
pd.merge(left=population, right=countries, left_on="country", right_on="country2", how="left")

In a Right Merge we are mostly concerned with data on the RIGHT side but we would like to add data from 
the LEFT side if it has some of the same countries in this case.

In [ ]:
pd.merge(left=population, right=countries, left_on="country", right_on="country2", how="right")

With an Inner Merge, we chop up both dataframes and only glue the stuff that matches. If a country isn't in both 
dataframes, we don't keep it and we don't add NaN's. If no type of join is mentioned, then inner join is the 
default join.

In [ ]:
# not inner merge
pd.merge(left=population, right=countries, left_on="country", right_on="country2")

In [ ]:
# inner merge -- notice how it only contains rows of countries that both DataFrames have
pd.merge(left=population, right=countries, left_on="country", right_on="country2", how="inner")

With an Outer Merge, we chop up both dataframes and keep everything from both sides. Then we toss in NaN's to fill
any blanks.

In [ ]:
# outer merge -- countries that the DataFrames don't both have are filled with NaN values
pd.merge(left=population, right=countries, left_on="country", right_on="country2", how="outer")

## Groupby

How do we aggregate data and do computations in Python?

```
dataframe.groupby(<parameters to group>).<aggregate function>
```

The intermediate format is a "groupby" that we can call aggregate functions on and re-transform into a dataframe, for example

In [ ]:
pop_countries = pd.merge(left=population[['country']], right=countries, left_on="country", right_on="country2", how="outer")
pop_countries['continent'] = pop_countries['country'].apply(lambda x: 'America' if x == 'United States' else 'Europe')
pop_countries

In [ ]:
pop_countries.groupby('continent').count()

In [ ]:
# What if we wanted to find the average population?
pop_countries.groupby('continent').mean()

### TODO #5

In [ ]:
# How about only for area for Europe, in a dataframe format? 

##### EXERCISE #####

There's a lot of other formatting things that we can examine, such as how to transform things from a `groupby` form, the aggregated dataframe, or a standard dataframe with a numerical index. Take a look at the `reset_index` function [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reset_index.html) -- do you think we should have `drop = True` or `drop = False` here?

### TODO #6

In [ ]:
# Now how do we get the contents back to a column?

##### EXERCISE #####

## Missing Data
How to handle missing data (`NaN`'s)? Most common commands used are `fillna` and `dropna`.

In [ ]:
missing_df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'],columns=['one', 'two', 'three'])
missing_df['four'] = 'bar'
missing_df['five'] = missing_df['one'] > 0
missing_df.loc[['a','c','h'],['one','four']] = np.nan
missing_df

### TODO #7

In [ ]:
# fillna replaces NA/NaN values with the given value in the command.
# replace all the values in missing_df with 0!
# see here: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html

##### EXERCISE #####

In [ ]:
missing_df['one'] = missing_df['one'].fillna('missing')

In [ ]:
missing_df.dtypes

`dropna` is used to drop the rows or columns with NA/NaN values.

**`dropna` Usage:**
* `axis` argument determines if rows or columns which contain missing values are removed.
* `axis = 0`: Drop rows which contain missing values.
* `axis = 1`: Drop columns which contain missing value.
* `how` argument determines if row or column is removed from DataFrame, when we have at least one NA or all NA.
* `how = any`: If any NA values are present, drop that row or column. (default)
* `how = all` : If all values are NA, drop that row or column.

### TODO #8

In [ ]:
# now drop all the rows that have missing values

##### EXERCISE #####

In [ ]:
temp_df = missing_df.dropna(axis=1)

In [ ]:
temp_df

In [ ]:
missing_df['six'] = [1, 2, 3, 4, 5]
missing_df

In [ ]:
missing_df.dropna(axis=1, how = 'all')

### TODO #9

In [ ]:
# dropping rows only for cases when columns 'two' or 'four' have nulls

##### EXERCISE #####

### TODO #10

In [ ]:
# what happens if we call the above for column 'two' and 'five'?

##### EXERCISE #####

We attribute our work to https://developers.google.com/edu/ as well as previous TA's Andrew Cui, Carol Li and Celine Lee.